/* AuthForms.css */

/* General Styles for Both Forms */
.auth-form {
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  width: 300px;
  margin: 20px auto;
}

.auth-form h2 {
  color: black;
  text-align: center;
}

.auth-form label {
  display: block;
  margin-bottom: 8px;
}

.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #333;
}

.auth-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

.auth-form input[type="submit"]:hover {
  background-color: #333;
}

/* Specific Styles for Register Form */
.register-form .form-header {
  color: #444; /* Slightly lighter shade for distinction */
}

/* Specific Styles for Login Form */
.login-form .form-header {
  font-weight: bold;
}
.auth-switch {
  margin-top: 20px;
  text-align: center;
}

.auth-switch a {
  color: #0077cc; /* Example color: Blue */
  text-decoration: none;
}

.auth-switch a:hover {
  text-decoration: underline;
}
